<div class="container">
    
  <div>
      <ul style="list-style-type:none;">
          <h4 [routerLink]="['/mentor/mygroup']">My Students</h4>
          <h4 [routerLink]="['/mentor/students']">My Class</h4>      
        </ul>
  </div>

  <div *ngIf="myStudentsMode">
    <app-mentor-my-students (cancelMyStudentsMode)="cancelMyStudentsMode()"></app-mentor-my-students>
  </div>

  <div *ngIf="allStudentsMode">
    <app-mentor-stud-list (cancelAllStudentsMode)="cancelAllStudentsMode()"></app-mentor-stud-list>
  </div>

</div>