
  <div class="container mt-4">
      <i class="fa fa-arrow-circle-left" (click)="backup()"></i>
    <div class="">
      <h4>{{userType}}s</h4>
      <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
        <div class="form-group px-2">
          <label for="gradeLevel">Grade: </label>
            <select name="gradeLevel" id="gradeLevel" class="form-control ml-1"
              [(ngModel)]="userParams.studentLevel">
              <option *ngFor="let studLev of studentLevel" [value]="studLev.value">
                {{studLev.display}}
              </option>
            </select>            
        </div>
        <div class="form-group px-2" *ngIf="userType=='Volunteers'">
          <label for="volunteerType">Volunteer: </label>
            <select name="volunteerType" id="volunteerType" class="form-control ml-1"
              [(ngModel)]="userParams.roleName">
              <option *ngFor="let role of volunteerType" [ngValue]="role.value">
                {{role.display}}
              </option>
            </select>            
        </div>
        <div class="form-group">
          <label for="itemsPerPage">Entires Per Page: </label>
          <input type="number" class="form-control ml-1" style="width: 70px" id="itemsPerPage"
          [(ngModel)]="pagination.itemsPerPage" name="itemsPerPage">
        </div>
        
        <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
        <button type="button" class="btn btn-info" (click)="resetFilter()" style="margin-left:10px">
          Reset Filter
        </button>
        <button 
          [disabled]="usersForDeletionArray.length < 1"
          type="button" 
          class="btn btn-danger"
          (click)="massDeleteUsers()"
          style="margin-left:10px">
          Delete Selected
        </button>

        <button
        type="button"
        class="btn btn-warning"
        style="margin-left: 10px"
        (click)="graduateUsers()">
          Graduate
        </button>
        <br>
        <button
        class="btn btn-primary"
        (click)="unCheckAllMethod()">
          Select All
        </button>
        
      </form>
      <br>
      <div *ngFor="let user of users" class="">
        <app-user-item [user]="user"
        
        (checkedUser)="usersForDeletion($event)"></app-user-item>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true"
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"> 
    </pagination>
  </div>

  <button (click)="loadUsers()">Button</button>