<div class="container">
  <i class="fa fa-arrow-circle-left" (click)="backup()"></i>
</div>
<form class="form-inline" #form="ngForm" (ngSubmit)="loadSessions()" novalidate>
  <div class="form-group px-2">
    <label for="gradeLevel">Grade: </label>
      <select name="gradeLevel" id="gradeLevel" class="form-control ml-1"
        [(ngModel)]="userParams.studentLevel">
        <option *ngFor="let studLev of studentLevel" [value]="studLev.value">
          {{studLev.display}}
        </option>
      </select>            
  </div>
  <div class="form-group">
    <label for="itemsPerPage">Entires Per Page: </label>
    <input type="number" class="form-control ml-1" style="width: 70px" id="itemsPerPage"
    [(ngModel)]="pagination.itemsPerPage" name="itemsPerPage">
  </div>
  <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
  <button type="button" class="btn btn-info" (click)="resetFilter()" style="margin-left:10px">
    Reset Filter
  </button>
</form>

<div class="container">
  <div class="mt-2" *ngFor="let session of sessions">
    <div class="card">
      <p><strong>{{session.dayOfSession | date: 'mediumDate'}}</strong></p>
      <p><strong>{{session.studentLevel}}</strong></p>
      <ul class="card-body">
        <li *ngFor="let sessionAssign of session.sessionAssignments">
          {{sessionAssign.assigment.title}}
        </li>
      </ul>
    </div>
  </div>
</div>