<div class="container mt-4">
    <i class="fa fa-arrow-circle-left" [routerLink]="['/mentor']"></i>
  <div class="">
    <div *ngFor="let user of users" class="">
      <app-user-item [user]="user"></app-user-item>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true"
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"> 
  </pagination>
</div>