<div class="container">
    
    <div *ngIf="!studentListMode && !studentRegisterMode && !dropBoxMode">
        <ul>
  
            <!-- <li [routerLink]="['/admin/students']" (click)="listToggle()">View Student List</li> -->
            <li (click)="listToggle()">View Student List</li>
            <li (click)="registerToggle()">Register New Student</li>
            <li (click)="dropBoxToggle()">Upload Student File</li>
        
          </ul>
    </div>
  
    <div *ngIf="studentRegisterMode">
      <app-student-registration (cancelRegister)="cancelStudentRegister($event)"></app-student-registration>
    </div>

    <div (click)="loadStudents()" *ngIf="studentListMode">
      <app-student-list [pagination]="pagination" [users]="loadedStudents" (cancelList)="cancelStudentList($event)"></app-student-list>
    </div>

    <div *ngIf="dropBoxMode">
      <app-student-dropbox (cancelDropBox)="cancelDropBox($event)"></app-student-dropbox>
    </div>


</div>