<div class="container">
    
    <div *ngIf="!studentListMode && !studentRegisterMode && !dropBoxMode">
        <ul class="landing-content">
  
            <!-- <li [routerLink]="['/admin/students']" (click)="listToggle()">View Student List</li> -->
            <li class="menu-nav" [routerLink]="['/admin/students']">View Student List</li>
            <li class="menu-nav" (click)="registerToggle()">Register New Student</li>
            <li class="menu-nav" (click)="dropBoxToggle()">Upload Student File</li>
        
          </ul>
    </div>
  
    <div *ngIf="studentRegisterMode">
      <app-student-registration (cancelRegister)="cancelStudentRegister($event)"></app-student-registration>
    </div>

    <!-- <div  *ngIf="studentListMode">
      <app-student-list [pagination]="pagination" [users]="loadedStudents" (cancelList)="cancelStudentList($event)"></app-student-list>
    </div> -->

    <div *ngIf="dropBoxMode">
      <app-file-uploader (cancelUploader)="cancelDropBox($event)"></app-file-uploader>
      <!-- <app-student-dropbox (cancelDropBox)="cancelDropBox($event)"></app-student-dropbox> -->
    </div>


</div>