<div class="container">
    
    <div *ngIf="!studentListMode && !studentRegisterMode">
        <ul>
  
            <li (click)="listToggle()">View Student List</li>
            <li (click)="registerToggle()">Register New Student</li>
            <li><a>Upload Student File</a></li>
        
          </ul>
    </div>
  
    <div *ngIf="studentRegisterMode">
      <app-student-registration (cancelRegister)="cancelStudentRegister($event)"></app-student-registration>
    </div>

    <div *ngIf="studentListMode">
      <app-student-list (cancelList)="cancelStudentList($event)"></app-student-list>
    </div>

    <div>
      <p>StudentListMode: {{studentListMode}}</p>
      <p>StudentRegisterMode: {{studentRegisterMode}}</p>
    </div>
  
</div>