<div class="container">
    <i class="fa fa-arrow-circle-left" [routerLink]="['/admin']"></i>
</div>
<form class="form-inline" #form="ngForm" (ngSubmit)="loadGroups()" novalidate>
    <div class="form-group px-2">
      <label for="gradeLevel">Grade: </label>
        <select name="gradeLevel" id="gradeLevel" class="form-control ml-1"
          [(ngModel)]="userParams.studentLevel">
          <option *ngFor="let studLev of studentLevel" [value]="studLev.value">
            {{studLev.display}}
          </option>
        </select>            
    </div>
    <div class="form-group">
      <label for="itemsPerPage">Entires Per Page: </label>
      <input type="number" class="form-control ml-1" style="width: 70px" id="itemsPerPage"
      [(ngModel)]="pagination.itemsPerPage" name="itemsPerPage">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
    <button type="button" class="btn btn-info" (click)="resetFilter()" style="margin-left:10px">
      Reset Filter
    </button>
  </form>
<div class="container">
    <div class="mt-2" *ngFor="let group of groups">
        <div class="card">
            <ul class="card-body" style="list-style-type:none">
                <li>
                    <strong>{{group.userGroups[0].user.studentLevel.toLocaleUpperCase()}}'S - Id#: {{group.id}}</strong>
                </li>
                <li *ngFor="let ug of group.userGroups">{{ug.user.lastName}}, {{ug.user.firstName}}
                    <i (click)="removeMember(ug)" class="fa fa-minus-circle"></i>
                  </li>
            </ul>
            <button class="btn btn-primary" (click)="disbandGroup(group.id)">Disband Group</button>
        </div>
        
    </div>

    <div class="d-flex justify-content-center">
      <pagination [boundaryLinks]="true"
                  [totalItems]="pagination.totalItems"
                  [itemsPerPage]="pagination.itemsPerPage"
                  [(ngModel)]="pagination.currentPage"
                  (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"> 
      </pagination>
    </div>
    
</div>
