<div class="container">
    <i class="fa fa-arrow-circle-left" [routerLink]="['/admin']"></i>
</div>
<div class="container">
    <div *ngFor="let group of groups">
        <div class="card">
            <ul class="card-body" style="list-style-type:none">
                <li><strong>Group Id: {{group.id}}</strong></li>
                <li *ngFor="let ug of group.userGroups">{{ug.user.lastName}}, {{ug.user.firstName}}
                    <i (click)="removeMember(ug.user)" class="fa fa-minus-circle"></i></li>
            </ul>
            <button class="btn btn-primary" (click)="disbandGroup(group.id)">Disband Group</button>
        </div>
        
    </div>
</div>
