<div class="container">
    <i class="fa fa-arrow-circle-left" (click)="backup()"></i>
    <form (change)="loadUsers()" class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
      <div class="form-group px-2">
        <label for="gradeLevel">Grade: </label>
          <select name="gradeLevel" id="gradeLevel" class="form-control ml-1"
            [(ngModel)]="userParams.studentLevel">
            <option *ngFor="let studLev of studentLevel" [value]="studLev.value">
              {{studLev.display}}
            </option>
          </select>            
      </div>
      <!-- <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filter</!-->
      <!-- <button type="button" class="btn btn-info" (click)="resetFilter()" style="margin-left:10px">
        Reset Filter
      </button> -->
    </form>
    
  <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Mentors</h4>
        <div class="d-flex justify-content-center">
          <pagination [boundaryLinks]="true"
                      [totalItems]="mentPagination.totalItems"
                      [itemsPerPage]="mentPagination.itemsPerPage"
                      [(ngModel)]="mentPagination.currentPage"
                      (pageChanged)="mentorPageChanged($event)"
                  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"> 
          </pagination>
        </div>
        <ul style="list-style-type: none;">
          <div class="" *ngFor="let user of mentors">
              <div class="card" *ngIf="user.userRoles[0].role.name == 'Mentor' &&
              user.userRoles[0].user.userGroups.length < 1 && !user.grouped && user.grouped != true">
                <li class="card-body" (click)="groupUser(user)">
                  {{user.lastName}}, {{user.firstName}}
                  <i class="fa fa-plus-circle"></i>
                </li>
              </div>
          </div>
        </ul>        
      </div>
      <div [@fade]="stateName" id="group-col" class="col-sm-4 col-md-4 col-lg-4">
        <h4>&nbsp;</h4>
        <ul class="" style="list-style-type: none;">
          <div *ngIf="isGroup > 0" class="card">
            <div class="card-body" *ngFor="let user of usersInGroup">
              <li (click)="ungroupUser(user)" *ngIf="user.grouped">
                {{user.lastName}}, {{user.firstName}}
                <i class="fa fa-minus-circle"></i>
              </li>
            </div>
            <button [disabled]="this.groupToRegister.studentIds.length < 1 ||
            this.groupToRegister.volunteerIds.length < 1" (click)="register()"
            class="btn btn-success">Create Group</button>
          </div>
        </ul>
        
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Students</h4>
        <div class="d-flex justify-content-center">
          <pagination [boundaryLinks]="true"
                      [totalItems]="studPagination.totalItems"
                      [itemsPerPage]="studPagination.itemsPerPage"
                      [(ngModel)]="studPagination.currentPage"
                      (pageChanged)="studentPageChanged($event)"
                  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"> 
          </pagination>
        </div>
        <ul style="list-style-type: none;">
            <div *ngFor="let user of students">
              <div class="card" *ngIf="!user.grouped &&
               user.userRoles[0].user.userGroups.length < 1 && user.grouped != true">
                <li class="card-body" (click)="groupUser(user)">
                  {{user.lastName}}, {{user.firstName}}
                  <i class="fa fa-plus-circle"></i>
                </li>
              </div>
              </div>
        </ul>
          
      </div>
  </div>
  
</div>