<div class="container">
    <i class="fa fa-arrow-circle-left" [routerLink]="['/admin']"></i>
    <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
      <div class="form-group px-2">
        <label for="gradeLevel">Grade: </label>
          <select name="gradeLevel" id="gradeLevel" class="form-control ml-1"
            [(ngModel)]="userParams.studentLevel">
            <option *ngFor="let studLev of studentLevel" [value]="studLev.value">
              {{studLev.display}}
            </option>
          </select>            
      </div>
      <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
      <button type="button" class="btn btn-info" (click)="resetFilter()" style="margin-left:10px">
        Reset Filter
      </button>
    </form>
  <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Mentors</h4>
        <ul>
          <div *ngFor="let user of users">
            <li (click)="groupUser(user)" *ngIf="user.userRoles[0].role.name == 'Mentor' && user.userRoles[0].user.userGroups.length < 1 && !user.grouped">
              {{user.lastName}}, {{user.firstName}}
            </li>
          </div>
        </ul>        
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <ul>
            <div *ngFor="let user of users">
                <li (click)="ungroupUser(user)" *ngIf="user.grouped">
                  {{user.lastName}}, {{user.firstName}}
                </li>
              </div>

        </ul>
        <button [disabled]="this.groupToRegister.studentIds.length < 1 || this.groupToRegister.volunteerIds.length < 1" (click)="register()" class="btn btn-success">Register</button>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Students</h4>
        <ul>
            <div *ngFor="let user of users">
                <li (click)="groupUser(user)" *ngIf="user.userRoles[0].role.name == 'Student' && !user.grouped && user.userRoles[0].user.userGroups.length < 1 && !user.grouped">
                  {{user.lastName}}, {{user.firstName}}
                </li>
              </div>
        </ul>
          
      </div>
  </div>
  
</div>