<body class="container" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
  <br>
  <div class="container">
    <tabset class="admin-tabset" #studentTabs>
      <tab heading="My Profile">
        <app-stud-profile-tab [student]="user"></app-stud-profile-tab>
      </tab>
  
      <tab heading="Assignments">
        <app-stud-assignment-tab [student]="user"></app-stud-assignment-tab>
      </tab>
  
      <tab heading="My Group">
        <app-stud-group-tab [group]="group"></app-stud-group-tab>
      </tab>
  
      <tab heading="Messages" (click)="loadMessages()">
        <app-messages [inptMessages]="messages"></app-messages>
      </tab>
  
    </tabset>
  </div>
</body>
