<body class="container" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
  <br>
  <ng-container class="container">
    <app-student-tabs [swiped]="swiped"></app-student-tabs>
    <div *ngIf="setTab==='tab1'">
      <br>

        <div *ngIf="!session">
         <h5>No Session Has Been Created Yet</h5>
        </div>

        <div *ngIf="session">
          <h5>Next Session is on {{session.dayOfSession | date: 'mediumDate'}}</h5>
          <div *ngFor="let item of session.sessionAssignments">
            <div class="card row" [routerLink]="['/mentor/assignments', item.assignmentId]">
              <div class="container">
                <div class="card-body">
                  <h6>{{item.assigment.title}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div *ngIf="setTab==='tab2'">
      <app-stud-profile-tab [student]="user"></app-stud-profile-tab>
    </div>

    <div *ngIf="setTab==='tab3'">
      <h5 *ngIf="user.userAssignments < 1">No Assignments</h5>
      <app-stud-assignment-tab [student]="user"></app-stud-assignment-tab>
    </div>

    <div *ngIf="setTab==='tab4'">
      <app-stud-group-tab [group]="group"></app-stud-group-tab>
    </div>

    <div *ngIf="setTab==='tab5'">
      <app-messages></app-messages>
    </div>
    
  </ng-container>
</body>
