<div class="container">
  <i class="fa fa-arrow-circle-left" (click)="backup()"></i>
  <p>Assignment List</p>
  <div class="row">
    <button (click)="testTrue()">True</button>
  <button (click)="testFalse()">False</button>
  </div>
  
  
    <div *ngFor="let assignment of loadedAssignments">
      <h4>{{assignment.title}}</h4>
      <ul>
        <li>Date Due: {{assignment.dateDue}}</li>
        <li>Student Leveln: {{assignment.studentLevel}}</li>
        <li>Assigned?: {{assignment.assigned}}</li>
      </ul>
      </div>

</div>