<div class="container">
  <i class="fa fa-arrow-circle-left" *ngIf="!showAssignmentDetail" [routerLink]="['/admin']"></i>
  <i class="fa fa-arrow-circle-left" *ngIf="showAssignmentDetail" (click)="assignmentDetailClick()"></i>
  <form *ngIf="!showAssignmentDetail" class="form-inline" #form="ngForm" (ngSubmit)="loadAssignments()" novalidate>
    <div class="form-group px-2">
      <label for="gradeLevel">Show: </label>
        <select name="gradeLevel" id="gradeLevel" class="form-control ml-1"
          [(ngModel)]="assignmentParams.studentLevel">
          <option *ngFor="let studLev of studentLevel" [value]="studLev.value">
            {{studLev.display}}
          </option>
        </select>            
    </div>
    <div class="form-group">
      <label for="itemsPerPage">Entires Per Page: </label>
      <input type="number" class="form-control ml-1" style="width: 70px" id="itemsPerPage"
      [(ngModel)]="pagination.itemsPerPage" name="itemsPerPage">
    </div>
    
    <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
    <button type="button" class="btn btn-info" (click)="resetFilter()" style="margin-left:10px">
      Reset Filter
    </button>
  </form>
  <br>
  <ng-container *ngIf="!showAssignmentDetail">
      <div class="" *ngFor="let assignment of assignments" (click)="assignmentDetailClick(assignment)">
        <div class="user-item card mb-2">
          <div class="card-body">
            <h4>{{assignment.title}}</h4>
            <p>{{assignment.dateDue}}</p>
          </div>
        </div>
        
    </div>
  </ng-container>
  
  <app-assignment-detail *ngIf="showAssignmentDetail" [assignment]="detailedAssignment"></app-assignment-detail>

      <div *ngIf="!showAssignmentDetail" class="d-flex justify-content-center">
        <pagination [boundaryLinks]="true"
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"> 
        </pagination>
      </div>

</div>

