<div class="container">
    <i *ngIf="assignmentViewMode" (click)="listToggle()" class="fa fa-arrow-circle-left"></i>
    <br>
  <div *ngIf="assignmentListMode">
      <div *ngFor="let assignment of assignments">
          <app-assignment-item [user]="student" [assignment]="assignment"></app-assignment-item>
        </div>
  </div>
  <!-- <div class="container" *ngIf="assignmentViewMode">
    <app-assignment-detail [assignment]="detailedAssignment"></app-assignment-detail>
  </div> -->
  
</div>

