.admin-tabs, .admin-tabs-abrv {
    border-color: #fff;
    background-color: #2f4658 !important;
    color: #fff !important;
    justify-content: center;
  }
  
  .admin-tab {
    cursor: pointer;
    border-color: #fff;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .admin-tab-abrv {
    cursor: pointer;
    border-color: #fff;
    border-radius: 5px;
    text-align: center;
  }

  .admin-tab:hover, .admin-tabs-abrv:hover {
    background-color: #4a6e8a;
    border: 3px !important;
    border-color:  #ff9900 !important;
  }

  .admin-tab-active {
  font-style: bold;
  font-size: larger;
  background-color: #ff9900 !important;
  color: #fff !important;
  }

  .admin-tab-abrv-active {
    background-color: #ff9900 !important;
    color: #fff !important;
  }

  @media screen and (min-width: 991px) {
    .admin-tabs-abrv { 
      display: none;
    }
  }

  @media only screen and (max-width: 990px) {
    .admin-tabs-abrv {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    }
    .admin-tabs { 
      display: none;
    }
  }