  <div class="container mt-3">
  <i class="fa fa-arrow-circle-left" [routerLink]="['/', operatingRole]"></i>
  <h3>
    {{assignment.title}}
  </h3>
  <p><strong>Due on: {{assignment.dateDue | date: 'mediumDate'}}</strong></p>
  <p>
    {{assignment.content}}
  </p>
  <form *ngIf="accessor.role == 'mentor' || 'tutor'">
    <label>
      <input
        type="checkbox"
        name="completed"
        (ngModel)="userAssignment.completed"
        (change)="edit(!userAssignment.completed)">
        Assignment Completed
        <br>
    </label>
  </form>

  <!-- Messaging -->
  <div *ngIf="user && operatingRole !== 'Admin'" class="card message-component">
    <div class="card-body">
      <div *ngIf="messages?.length === 0">
        <p>Discuss this assignment:</p>
      </div>
  
      <ul #tabsContentRef [style.height]="messages.length > 3 ? '220px' : 'auto'" style="list-style-type:none; width: 450px; height: 220px; overflow: auto" class="chat">
        <li *ngFor="let message of messages">
          <!-- To them -->
          <div [ngStyle]="message.fontColor" *ngIf="message.senderId == accessor.id">
            <span class="chat-image float-left">
              
            </span>
            <div class="chat-body">
              <div class="chat-header">
                <strong class="primary-font">{{message.senderUsername}}</strong>
                <small class="text-muted">
                  <span class="fa fa-clock-o">{{message.dateSent | timeAgo}}</span>
                </small>
              </div>
              <p>{{message.content}}</p>
            </div>
          </div>
          <!-- To me -->
          <div class="text-align: right" [ngStyle]="message.fontColor" *ngIf="message.senderId != accessor.id">
            <!-- <span class="chat-image float-right"> -->
              <!-- <img src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}" class="rounded-circle">  -->
            <!-- </span> -->
            <div class="chat-body">
              <div class="chat-header">
                  <small class="text-muted">
                    <span class="fa fa-clock-o">{{message.dateSent | timeAgo}}</span>
                    <!-- <span *ngIf="!message.isRead" class="text-danger">(unread)</span>
                    <span *ngIf="message.isRead" class="text-success">(Read {{message.dateRead | timeAgo}})</span> -->
                  </small>
                <strong class="primary-font">{{message.senderUsername}}</strong>
                
              </div>
              <p>{{message.content}}</p>
            </div>
          </div>
        </li>
      </ul>
  
    </div>
    <div class="card-footer">
      <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
        <div class="input-group">
          <input type="text"
          [(ngModel)]="newMessage.content"
          autocomplete="off"
          name="content"
          required
          class="form-control input-sm"
          placeholder="send a private message">
          <div class="input-group-append">
            <button class="btn btn-primary" [disabled]="!messageForm.valid">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>