<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  

    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="roles">
        <li class="nav-item" *ngFor="let r of roles">
          <a class="nav-link" [routerLink]="['/', r.toLowerCase() ]">
            {{r}}
          </a>
        </li>
      </ng-container>
      <li *ngIf="role" class="nav-item">
        <a class="nav-link">{{role}}</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>

      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{authService.decodedToken?.unique_name | titlecase}}
      </a>
    
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>
</nav>