
<body class="container" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
    <br>
  <div class="container">
    <tabset class="mentor-tabset" #mentorTabs>
      <tab heading="Events">
        <div *ngFor="let event of events" class="row">
          <strong>{{event.title}}:&nbsp;&nbsp;</strong>
          <p>{{event.eventDate | date: 'mediumDate'}}</p>
        </div>
      </tab>
  
      <tab heading="Assignments">
          <div *ngFor="let assignment of assignments">
              <h4>{{assignment.title}}</h4>
              <ul>
                <li>Date Due: {{assignment.dateDue}}</li>
                <li>Student Level: {{assignment.studentLevel}}</li>
                <li>Assigned?: {{assignment.assigned}}</li>
              </ul>
              </div>
      </tab>
  
      <tab heading="Students">
        <app-mentor-stud-tab></app-mentor-stud-tab>
      </tab>

      <tab heading="Messages">
        <app-messages></app-messages>
      </tab>
      
    </tabset>
  </div>
</body>
