
<body class="container" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
    <br>
  <ng-container class="container">
    <app-volunteer-tabs [swiped]="swiped"></app-volunteer-tabs>
    <div>
      <div *ngIf="setTab==='tab1'">
        <div *ngIf="!session">
          <h5>No Session Has Been Created Yet</h5>
         </div>
 
         <div *ngIf="session">
           <h5>Next Session is on {{session.dayOfSession | date: 'mediumDate'}}</h5>
           <div *ngFor="let item of session.sessionAssignments">
             <div class="card row" [routerLink]="['/mentor/assignments', item.assignmentId]">
               <div class="container">
                 <div class="card-body">
                   <h6>{{item.assigment.title}}</h6>
                 </div>
               </div>
             </div>
           </div>
         </div>
      </div>

      <div *ngIf="setTab==='tab2'">
        <h5 *ngIf="events.length < 1"> No Events</h5>
        <br>
        <div *ngFor="let event of events" class="">
          <div class="card row">
            <div class="container">
              <div class="card-body">
                <strong>{{event.title}}:&nbsp;&nbsp;</strong>
                <p>{{event.eventDate | date: 'mediumDate'}}</p>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div *ngIf="setTab==='tab3'">
        <h5 *ngIf="assignments.length < 1"> No Assignments</h5>
        <br>
          <div *ngFor="let assignment of assignments">
            <div class="card row" [routerLink]="['/mentor', user.id, 'assignments', assignment.id]">
              <div class="container">
                <div class="card-body">
                  <h4>{{assignment.title}}</h4>
              <ul style="list-style-type:none;"> 
                <li>Date Due: {{assignment.dateDue | date: 'mediumDate'}}</li>
                <li>Click for details</li>
              </ul>
                </div>
              </div>
            </div>
            <br>
              
              </div>
      </div>
      <div *ngIf="setTab==='tab4'">
        <br>
          <app-mentor-stud-tab></app-mentor-stud-tab>
      </div>
      <div *ngIf="setTab==='tab5'">
        <br>
        <app-messages></app-messages>
      </div>
    </div>
    

  </ng-container>
</body>
