<div class="container mt-4">
  <i class="fa fa-arrow-circle-left" [routerLink]="['/admin/students']"></i>
  <div *ngIf="!nameEditOn" class="row prof mt-4">
    {{user.firstName}} {{user.lastName}}
    <p (click)="nameEditClick()" id="name-edit-link">edit</p>
  </div>

  <div id="name-edit" class="row input-group-append" *ngIf="nameEditOn">
    <!-- <input class="form-control input-sm" type="text" value="{{user.firstName}}"> -->
    <!-- <input class="form-control input-sm" type="text" value="{{user.lastName}}"> -->
    <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser(editForm)">
      <input rows="1" class="form-control input-sm" type="text" [(ngModel)]="user.firstName" name="first">
      <input rows="1" class="form-control input-sm" type="text" [(ngModel)]="user.lastName" name="last">
      <button id="btn-primary" class="btn btn-primary" type="submit">Update</button>
      <button id="btn-cancel" class="btn" (click)="this.nameEditClick()">Cancel</button>
    </form>
    
  </div>

  <div>
    <div class="row prof-ind" *ngFor="let userRole of user.userRoles">
      <p *ngIf="userRole !== user.userRoles[0]">, </p>
      {{userRole.role.name}}
      <p id="role-edit-link" (click)="roleEditClick()">edit</p>
    </div>
  </div>

  <!-- <div id="name-edit" class="row input-group-append" *ngIf="roleEditOn">
    <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser(editForm)">
      <label class="radio-inline">  
        <input class="mr-1 ml-2" type="radio" value="sophmore" formControlName="studentLevel">Sophmore  
      </label>
      <br>  
      <label class="radio-inline ml-2">  
        <input class="mr-1" type="radio" value="junior" formControlName="studentLevel">Junior  
      </label>
      <br>
      <label class="radio-inline ml-2">  
          <input class="mr-1" type="radio" value="senior" formControlName="studentLevel">Senior  
      </label>
      <button id="btn-primary" class="btn btn-primary" type="submit">Update</button>
      <button id="btn-cancel" class="btn" (click)="this.roleEditClick()">Cancel</button>
    </form>
    
  </div> -->
  
  <div class="prof">
    Id# {{user.id}}
  </div>
  <div class="prof">
    Last Active : {{user.lastActive | date: 'mediumDate'}}
  </div>
  
  <div class="mt-4">
    <app-user-messages [recipientId]="user.id"></app-user-messages>
  </div>

  <button class="btn btn-primary mt-5" (click)="deleteUser(user.id)">
    Delete {{user.firstName}}  {{user.lastName}}'s profile
  </button>


</div>


