<div class="container mt-4">
  <i class="fa fa-arrow-circle-left" [routerLink]="['/admin/students']"></i>
  <div *ngIf="!nameEditOn" class="row prof mt-4">
    {{user.firstName}} {{user.lastName}}
    <p (click)="nameEditClick()" id="name-edit-link">edit</p>
  </div>

  <div id="name-edit" class="input-group-append" *ngIf="nameEditOn">
    <input class="form-control input-sm" type="text" value="{{user.firstName}}">
    <input class="form-control input-sm" type="text" value="{{user.lastName}}">
    <button id="btn-primary" class="btn btn-primary">Submit</button>
    <button id="btn-cancel" class="btn">Cancel</button>
  </div>

  <div>
    <div class="row prof-ind" *ngFor="let userRole of user.userRoles">
      <p *ngIf="userRole !== user.userRoles[0]">, </p>
      {{userRole.role.name}}
      <p id="role-edit-link">edit</p>
    </div>
  </div>
  
  <div class="prof">
    Id# {{user.id}}
  </div>
  <div class="prof">
    Last Active : {{user.lastActive | date: 'mediumDate'}}
  </div>
  
  <div class="mt-4">
    <app-user-messages [recipientId]="user.id"></app-user-messages>
  </div>

  <button class="btn btn-primary mt-5" (click)="deleteUser(user.id)">
    Delete {{user.firstName}}  {{user.lastName}}'s profile
  </button>


</div>


