<div class="container mt-4">
  <!-- <i *ngIf="testForStudentRole()" class="fa fa-arrow-circle-left" [routerLink]="['/admin/students']"></i> -->
  <i *ngIf="testForStudentRole() === false" class="fa fa-arrow-circle-left" [routerLink]="['/admin/volunteers']"></i>
  <div *ngIf="!nameEditOn" class="row prof mt-4">
    {{user.firstName}} {{user.lastName}}  
    <p *ngIf="operatingUserRole == 'Admin'" (click)="nameEditClick()" id="name-edit-link">edit</p>
  </div>

  <div id="name-edit" class="row input-group-append" *ngIf="nameEditOn">
    <!-- <input class="form-control input-sm" type="text" value="{{user.firstName}}"> -->
    <!-- <input class="form-control input-sm" type="text" value="{{user.lastName}}"> -->
    <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser(editForm)">
      <input rows="1" class="form-control input-sm" type="text" [(ngModel)]="user.firstName" name="first">
      <input rows="1" class="form-control input-sm" type="text" [(ngModel)]="user.lastName" name="last">
      <button id="btn-primary" class="btn btn-primary" type="submit">Update</button>
      <button id="btn-cancel" class="btn" (click)="this.nameEditClick()">Cancel</button>
    </form>    
  </div>
  <div class="username">Username: {{user.username}}</div>
  <div class="row prof-ind">
    <div class="" *ngFor="let userRole of user.userRoles">
      <!-- <p *ngIf="userRole !== user.userRoles[0]">, </p> -->
      <div> _{{userRole.role.name}}</div>
    </div>
    <p *ngIf="!roleEditOn && operatingUserRole == 'Admin' && user.userRoles[0].role.name != 'Student'"
    id="role-edit-link"
    (click)="roleEditClick()">edit</p>
    <p *ngIf="roleEditOn" id="role-edit-link" (click)="roleEditClick()">cancel</p>
  </div>

  <div *ngIf="roleEditOn">
    <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUserRoles(editForm)">
      <div *ngFor="let r of roleOptions">
        <label>
          <input
            type="checkbox"
            name="role-{{r.name}}"
            [(ngModel)]="r.checked">
          {{ r.name }}
            <br>
        </label>
      </div>      
      <button id="btn-primary" class="btn btn-primary" type="submit">Update</button>
      <button id="btn-cancel" class="btn" (click)="this.roleEditClick()">Cancel</button>
    </form>
  </div>
  <ng-container *ngIf="testForStudentRole()">
    <div class="row prof-ind">
      ACT Scores: 
    <div *ngIf="user.actScores.length > 0" id="act-exp-link" (click)="actExpandClick()"> Average of {{actAvg }} <i class="fa fa-caret-down"></i></div>  
    </div>
  
    <ng-container *ngIf="actExpandView">
      <ul>
      <li id="act-score" *ngFor="let actScore of this.user.actScores">
        {{actScore.score}} taken on {{actScore.dayOfScore | date: 'mediumDate'}}
        <i (click)="deleteActScore(actScore.id)" class="fa fa-minus-circle"></i></li>
      </ul>
    </ng-container>
 
  

  <form [formGroup]="actForm" (ngSubmit)="submitActScore()">
    <p *ngIf="!addActOn && operatingUserRole != 'Student'" class="act-add-link" (click)="this.actAddOnClick()">add ACT score</p>
  <div *ngIf="addActOn">
    <div class="row form-group">
      <input style="width: 90px" type="number" size="2"
      [ngClass]="{'is-invalid': actForm.get('score').errors
      && actForm.get('score').touched}"
      formControlName="score">
      <p *ngIf="addActOn" class="act-add-link" (click)="this.actAddOnClick()">cancel</p>
    </div>
    
    <div class="row form-group act-date-picker">
      <input style="width: 90px"  class="form-control"
    placeholder="Date of Score" type="text"
    formControlName="dayOfScore"
    bsDatepicker>  
    <button class="btn btn-success" type=(submit)>Add Score</button>        
    </div>
  </div>
  </form>
</ng-container>
  
  <br>

  <ng-container>
    <h4 *ngIf="user.userAssignments">
      Assignments: <i class="fa fa-caret-left"></i> &nbsp; <i class="fa fa-caret-right"></i>
    </h4>
    <ul style="list-style-type:none;" *ngFor="let assignment of user.userAssignments">
      <!-- <div class="card">
        <div class="container">

          <li class="card-body" *ngIf="operatingUserRole === 'Student'"
          [routerLink]="['/student', user.id, 'assignment', assignment.assignmentId]">
          <strong>{{assignment.assignment.title}}</strong>: 
          {{assignment.assignment.dateDue | date: 'mediumDate'}}</li>

          <li class="card-body" *ngIf="operatingUserRole === 'Mentor' || operatingUserRole === 'Admin' || operatingUserRole === 'Tutor'"
          [routerLink]="['/mentor', user.id, 'assignment', assignment.assignmentId]">
          <strong>{{assignment.assignment.title}}</strong>: 
          {{assignment.assignment.dateDue | date: 'mediumDate'}}</li>

        </div>
      </div> -->
      <app-assignment-item [user]="user" [assignment]="assignment"></app-assignment-item>
    </ul>
  </ng-container>

  <ng-container>
    <h4 *ngIf="groupMembers">In a group with:</h4>
    <br>
      <ul class="" style="list-style-type:none;" *ngFor="let member of groupMembers">
        <div class="card" *ngIf="member.userId != user.id && member.user.userName != operatingUserName">
          <div class="container">
            <li class="card-body">
              {{member.user.lastName}}, {{member.user.firstName}}</li>
          </div>
        </div>
      </ul>
  </ng-container>
  
  
  <div class="prof">
    Id# {{user.id}}
  </div>
  <div class="prof">
    Last Active : {{user.lastActive | date: 'mediumDate'}}
  </div>
  
  <div *ngIf="user.id.toString() != operatingUserId.toString()" class="mt-4">
    <app-user-messages [recipientId]="user.id"></app-user-messages>
  </div>

  <button *ngIf="operatingUserRole=='Admin'" class="btn btn-primary mt-5" (click)="deleteUser(user.id)">
    Delete {{user.firstName}}  {{user.lastName}}'s profile
  </button>


</div>


