.act-date-picker {
    padding-left: 15px;
}

#act-score {
    margin-left: 15px;
}

.edit-link {
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: #ff9900;
    cursor: pointer;
}

.act-sect {
    margin-top: 4px;
}

.card {
    cursor: pointer;
}

.small-bold {
    font-weight: bold;
}

.fa-minus-circle {
    color: red;
    cursor: pointer;
}

/* #stud-level-edit-link {
  margin-left: 15px;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #ff9900;
  cursor: pointer;
} */