<div class="container">
    
  <div *ngIf="!assignmentListMode && !assignmentRegisterMode">
      <ul>

          <li (click)="listToggle()">View Assignments List</li>
          <li (click)="registerToggle()">Create Assignment</li>
      
        </ul>        
  </div>

  <div *ngIf="assignmentRegisterMode">
    <app-assigment-registration (cancel)="cancelRegistration($event)"></app-assigment-registration>
  </div>

  <div *ngIf="assignmentListMode" (click)="loadAssignments()">
    <app-assignment-list (cancel)="cancelList($event)" [loadedAssignments]="assignments">
    </app-assignment-list>
  </div>
  
</div>