<div class="container">
  <div *ngIf="!groupListMode && !groupRegisterMode">
    <ul>
      <li (click)="listToggle()">View Groups List</li>
      <li (click)="registerToggle()">Create Group</li>
    </ul>
  </div>
  <div *ngIf="groupRegisterMode">
      <app-group-registration [users]="loadedUserGroups" (cancel)="cancelGroupRegistration($event)"></app-group-registration>
    </div>

    <div *ngIf="groupListMode">
      <app-groups-list [groups]="loadedGroups" (cancel)="cancelGroupList($event)"></app-groups-list>
    </div>

    <button (click)="test()">Button</button>
</div>