<div class="container">
  <div *ngIf="!groupListMode && !groupRegisterMode">
    <ul class="landing-content">
      <li class="menu-nav" [routerLink]="['/admin/groups']">View Groups List</li>
      <li class="menu-nav" [routerLink]="['/admin/groups/register']">Create Group</li>
    </ul>
  </div>
  <!-- <div *ngIf="groupRegisterMode">
      <app-group-registration (cancel)="cancelGroupRegistration($event)"></app-group-registration>
    </div> -->

    <!-- <div *ngIf="groupListMode">
      <app-groups-list [groups]="loadedGroups" (cancel)="cancelGroupList($event)"></app-groups-list>
    </div> -->

</div>