<div class="card mb-2">
  <div class="container">
      <div class="card-body">
          <div class="">
            <div class="row link last-name-column col-md-2 col-lg-2">
              {{assignment.assignment.title}}
            </div>
            <br>
            <div *ngIf="assignment.completed">Done!</div>
            <div *ngIf="!assignment.completed" class="row">Due: {{assignment.assignment.dateAssigned | date: 'mediumDate'}}</div>
            <div>{{assignment.assignment.studentLevel}}</div>
          </div>
        </div>
  </div>
  
</div>