<div class="card mb-2" [routerLink]="['/student/assignments/', assignment.assignmentId]">
  <div class="container">
      <div class="card-body">
          <div class="">
            <h4 class="row link last-name-column col-md-2 col-lg-2">
              {{assignment.assignment.title}}
            </h4>
            <div *ngIf="assignment.completed">Done!</div>
            <div *ngIf="!assignment.completed" class="row">Due: {{assignment.assignment.dateDue | date: 'mediumDate'}}</div>
            <p>Click for details</p>
          </div>
        </div>
  </div>
  
</div>