<div class="container">
    
  <div *ngIf="!volunteerListMode && !volunteerRegisterMode">
      <ul>

          <li class="menu-nav" [routerLink]="['/admin/volunteers']">View Volunteer List</li>
          <li class="menu-nav" (click)="registerToggle()">Register New Volunteer</li>
      
        </ul>
  </div>

  <div *ngIf="volunteerRegisterMode">
    <app-volunteer-registration (cancelRegister)="cancelVolunteerRegister($event)"></app-volunteer-registration>
  </div>

  <div *ngIf="volunteerListMode">
    <app-student-list (cancelList)="cancelVolunteerList($event)"></app-student-list>
  </div>

  


</div>