 <body class="container" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
  <br>
  <app-admin-tabs [swiped]="swiped"></app-admin-tabs>
  <div>
    <div *ngIf="setTab==='tab1'">
      <app-sessions-tab></app-sessions-tab>
    </div>
    <div *ngIf="setTab==='tab2'">
      <app-events-tab></app-events-tab>
    </div>
    <div *ngIf="setTab==='tab3'">
      <app-assignment-tab></app-assignment-tab>
    </div>
    <div *ngIf="setTab==='tab4'">
      <app-student-tab></app-student-tab>
    </div>
    <div *ngIf="setTab==='tab5'">
      <app-volunteers-tab></app-volunteers-tab>
    </div>
    <div *ngIf="setTab==='tab6'">
      <app-groups-tab [loadedUserGroups]="users" [loadedGroups]="groups"></app-groups-tab>
    </div>
    <div *ngIf="setTab==='tab7'">
      <app-messages></app-messages>
    </div>
  </div>
  
  
 </body>
