<br>
<div class="container">
  <tabset class="admin-tabset" #adminTabs>
    <tab (click)="loadEvents()" heading="events">
      <app-events-tab [loadedEvents]="evnts"></app-events-tab>
    </tab>

    <tab (click)="loadAssignments()" heading="assignments">
      <app-assignment-tab [loadedAssignments]="assignments"></app-assignment-tab>
    </tab>

    <tab (click)="loadStudents()" heading="students">
     <app-student-tab [pagination]="pagination" [loadedStudents]="users"></app-student-tab>
      
    </tab>

    <tab heading="volunteers">
      <app-volunteers-tab></app-volunteers-tab>
    </tab>

    <tab (click)="groupLoads()" heading="groups">
      <app-groups-tab [loadedUserGroups]="users" [loadedGroups]="groups"></app-groups-tab>
    </tab>
  </tabset>
</div>
