<div class="row test-tabs">
  <div id="tab1" 
    class="test-tab"
    [ngClass]="testTabObjSel.tab1=='active' ? 'test-tab-active' : ''"
    (click)="clickATab($event)">
    Sessions
  </div>
  <div id="tab2"
    class="test-tab"
    [ngClass]="testTabObjSel.tab2=='active' ? 'test-tab-active' : ''"
    (click)="clickATab($event)">
    Events
  </div>
  <div id="tab3"
    class="test-tab"  
    [ngClass]="testTabObjSel.tab3=='active' ? 'test-tab-active' : ''"
    (click)="clickATab($event)">
    Assignments
  </div>
  <div id="tab4"
    class="test-tab"  
    [ngClass]="testTabObjSel.tab4=='active' ? 'test-tab-active' : ''"
    (click)="clickATab($event)">
    Students
  </div>
  <div id="tab5"
    class="test-tab"  
    [ngClass]="testTabObjSel.tab5=='active' ? 'test-tab-active' : ''"
    (click)="clickATab($event)">
    Volunteers
  </div>
  <div id="tab6"
    class="test-tab"  
    [ngClass]="testTabObjSel.tab6=='active' ? 'test-tab-active' : ''"
    (click)="clickATab($event)">
    Groups
  </div>
  <div id="tab7"
    class="test-tab"  
    [ngClass]="testTabObjSel.tab7=='active' ? 'test-tab-active' : ''"
    (click)="clickATab($event)">
    Messages
  </div>
</div>