.test-tabs {
    border-color: #fff;
    background-color: #2f4658 !important;
    color: #fff !important;
    border-radius: 5px;
    justify-content: center;
  }
  
  .test-tab {
    cursor: pointer;
    border-color: #fff;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .test-tab:hover {
    background-color: #4a6e8a;
    border: 3px !important;
    border-color:  #ff9900 !important;
  }

  .test-tab-active {
  font-style: bold;
  font-size: larger;
  background-color: #ff9900 !important;
  color: #fff !important;
  }