<div class="container mt-4">
  <i class="fa fa-arrow-circle-left" (click)="backup()"></i>
  
  <form class="form-inline" #form="ngForm" (ngSubmit)="loadEvents()" novalidate>
    <div class="form-group">
      <label for="itemsPerPage">Entires Per Page: </label>
      <input type="number" class="form-control ml-1" style="width: 70px" id="itemsPerPage"
      [(ngModel)]="pagination.itemsPerPage" name="itemsPerPage">
    </div>
    
    <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filter</button>
    <!-- <button type="button" class="btn btn-info" (click)="resetFilter()" style="margin-left:10px">
      Reset Filter
    </button> -->
  </form>
  <br>
  <div class="events-list" *ngFor="let event of evnts">
    <app-event-item [event]="event" (reload)="eventCatcher($event)"></app-event-item>
    <br>
  </div>

  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true"
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"> 
    </pagination>
  </div>
</div>