<div class="container mt-4">
  <i class="fa fa-arrow-circle-left" (click)="backup()"></i>
  
  <form class="form-inline" #form="ngForm" (ngSubmit)="loadEvents()" novalidate>
    <div class="form-group">
      <label for="itemsPerPage">Entires Per Page: </label>
      <input type="number" class="form-control ml-1" style="width: 70px" id="itemsPerPage"
      [(ngModel)]="pagination.itemsPerPage" name="itemsPerPage">
    </div>
    
    <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filter</button>
    <!-- <button type="button" class="btn btn-info" (click)="resetFilter()" style="margin-left:10px">
      Reset Filter
    </button> -->
  </form>
  <br>
  <div class="events-list" *ngFor="let event of evnts">
    <div class="card row" [routerLink]="['/admin/events/', event.id]">
      <div class="container">
        <div class="card-body">
          <strong>{{event.title}}:&nbsp;&nbsp;</strong>
          <p *ngIf="event.eventDate">{{event.title}} will be occuring on {{event.eventDate | date: 'mediumDate'}}</p>
          <p *ngIf="!event.eventDate">Date is to be determined</p>
          <i (click)="deleteEvent(event)" class="fa fa-trash"></i>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true"
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"> 
    </pagination>
  </div>
</div>